Calculator/obj/project.nuget.cache
CookieCookbook/obj/project.nuget.cache
Calculator/obj/project.nuget.cache
Calculator/obj/Debug/net7.0/apphost
Calculator/obj/Debug/net7.0/Calculator.csproj.AssemblyReference.cache
CookieCookbook/obj/project.nuget.cache
CookieCookbook/obj/Debug/net7.0/apphost
CookieCookbook/obj/Debug/net7.0/CookieCookbook.csproj.AssemblyReference.cache
CookieCookbookWithLinq/obj/project.nuget.cache
CookieCookbookWithLinq/obj/Debug/net7.0/apphost
CookieCookbookWithLinq/obj/Debug/net7.0/CookieCookbookWithLinq.csproj.AssemblyReference.cache
CsvDataAccess/obj/project.nuget.cache
CsvDataAccess/obj/Debug/net7.0/CsvDataAccess.csproj.AssemblyReference.cache
CustomCache/obj/project.nuget.cache
CustomCache/obj/Debug/net7.0/apphost
CustomCache/obj/Debug/net7.0/CustomCache.csproj.AssemblyReference.cache
CustomLinkedList/obj/project.nuget.cache
CustomLinkedList/obj/Debug/net7.0/CustomLinkedList.csproj.AssemblyReference.cache
DiceRollGame/obj/project.nuget.cache
DiceRollGame/obj/Debug/net7.0/apphost
DiceRollGame/obj/Debug/net7.0/DiceRollGame.csproj.AssemblyReference.cache
FirstClass/obj/project.nuget.cache
FirstClass/obj/Debug/net7.0/apphost
FirstClass/obj/Debug/net7.0/FirstClass.csproj.AssemblyReference.cache
GameDataParser/obj/project.nuget.cache
GameDataParser/obj/Debug/net7.0/apphost
GameDataParser/obj/Debug/net7.0/GameDataParser.csproj.AssemblyReference.cache
StarWarsPlanetsStats/obj/project.nuget.cache
StarWarsPlanetsStats/obj/Debug/net7.0/StarWarsPlanetsStats.csproj.AssemblyReference.cache
Tester/obj/project.nuget.cache
Tester/obj/Debug/net7.0/apphost
Tester/obj/Debug/net7.0/Tester.csproj.AssemblyReference.cache
ToDoList/ToDoList/obj/project.nuget.cache
ToDoList/ToDoList/obj/Debug/net7.0/apphost
ToDoList/ToDoList/obj/Debug/net7.0/ToDoList.csproj.AssemblyReference.cache
TicketsDataAggregator/.vs/TicketsDataAggregator/xs/project-cache/TicketsDataAggregator-Debug.json
TicketsDataAggregator/obj/project.assets.json
TicketsDataAggregator/obj/project.nuget.cache
TicketsDataAggregator/obj/TicketsDataAggregator.csproj.nuget.dgspec.json
TicketsDataAggregator/obj/Debug/net7.0/TicketsDataAggregator.csproj.AssemblyReference.cache
.DS_Store
.gitignore
Calculator/.DS_Store
Calculator/bin/.DS_Store
Calculator/bin/Debug/.DS_Store
Calculator/obj/.DS_Store
Calculator/obj/Debug/.DS_Store
CookieCookbook/.DS_Store
CookieCookbook/bin/.DS_Store
CookieCookbook/bin/Debug/.DS_Store
CookieCookbookWithLinq/.DS_Store
CookieCookbookWithLinq/bin/.DS_Store
CookieCookbookWithLinq/bin/Debug/.DS_Store
CsvDataAccess/.DS_Store
CustomCache/.DS_Store
CustomCache/bin/.DS_Store
CustomCache/bin/Debug/.DS_Store
CustomLinkedList/.DS_Store
CustomLinkedList/bin/.DS_Store
CustomLinkedList/bin/Debug/.DS_Store
DiceRollGame/.DS_Store
DiceRollGame/bin/.DS_Store
DiceRollGame/bin/Debug/.DS_Store
FirstClass/.DS_Store
FirstClass/bin/.DS_Store
FirstClass/bin/Debug/.DS_Store
GameDataParser/.DS_Store
GameDataParser/bin/.DS_Store
GameDataParser/bin/Debug/.DS_Store
StarWarsPlanetsStats/.DS_Store
StarWarsPlanetsStats/bin/.DS_Store
StarWarsPlanetsStats/bin/Debug/.DS_Store
Tester/.DS_Store
Tester/bin/.DS_Store
Tester/bin/Debug/.DS_Store
TicketsDataAggregator/.DS_Store
TicketsDataAggregator/.vs/TicketsDataAggregator/xs/project-cache/TicketsDataAggregator-Debug.json
TicketsDataAggregator/bin/.DS_Store
TicketsDataAggregator/bin/Debug/.DS_Store
TicketsDataAggregator/obj/project.assets.json
TicketsDataAggregator/obj/project.nuget.cache
TicketsDataAggregator/obj/TicketsDataAggregator.csproj.nuget.dgspec.json
TicketsDataAggregator/obj/Debug/net7.0/TicketsDataAggregator.csproj.AssemblyReference.cache
ToDoList/.DS_Store
ToDoList/ToDoList/.DS_Store
ToDoList/ToDoList/bin/.DS_Store
ToDoList/ToDoList/bin/Debug/.DS_Store
.DS_Store
.gitignore
CsvDataAccess/.DS_Store
TicketsDataAggregator/.DS_Store
TicketsDataAggregator/.vs/TicketsDataAggregator/xs/project-cache/TicketsDataAggregator-Debug.json
TicketsDataAggregator/bin/.DS_Store
TicketsDataAggregator/bin/Debug/.DS_Store
TicketsDataAggregator/obj/project.assets.json
TicketsDataAggregator/obj/project.nuget.cache
TicketsDataAggregator/obj/TicketsDataAggregator.csproj.nuget.dgspec.json
TicketsDataAggregator/obj/Debug/net7.0/TicketsDataAggregator.csproj.AssemblyReference.cache
ToDoList/.DS_Store
.DS_Store
TicketsDataAggregator/bin/Debug/net7.0/TicketsDataAggregator
TicketsDataAggregator/bin/Debug/net7.0/TicketsDataAggregator.dll
TicketsDataAggregator/bin/Debug/net7.0/TicketsDataAggregator.pdb
TicketsDataAggregator/obj/Debug/net7.0/apphost
TicketsDataAggregator/obj/Debug/net7.0/TicketsDataAggregator.csproj.CoreCompileInputs.cache
TicketsDataAggregator/obj/Debug/net7.0/TicketsDataAggregator.dll
TicketsDataAggregator/obj/Debug/net7.0/TicketsDataAggregator.pdb
TicketsDataAggregator/obj/Debug/net7.0/ref/TicketsDataAggregator.dll
TicketsDataAggregator/obj/Debug/net7.0/refint/TicketsDataAggregator.dll
TicketsDataAggregator/.vs/TicketsDataAggregator/xs/project-cache/TicketsDataAggregator-Debug.json
Events_Observers/obj/Debug/net7.0/Events_Observers.AssemblyInfoInputs.cache
Events_Observers/obj/Debug/net7.0/Events_Observers.assets.cache
Events_Observers/obj/Debug/net7.0/Events_Observers.csproj.AssemblyReference.cache
Events_Observers/obj/Debug/net7.0/Events_Observers.csproj.CoreCompileInputs.cache
Events_Observers/obj/Debug/net7.0/Events_Observers.csproj.FileListAbsolute.txt
Events_Observers/obj/Debug/net7.0/Events_Observers.dll
Events_Observers/obj/Debug/net7.0/Events_Observers.GeneratedMSBuildEditorConfig.editorconfig
Events_Observers/obj/Debug/net7.0/Events_Observers.genruntimeconfig.cache
Events_Observers/obj/Debug/net7.0/Events_Observers.pdb
Events_Observers/obj/Debug/net7.0/ref/Events_Observers.dll
Events_Observers/obj/Debug/net7.0/refint/Events_Observers.dll
Events_Observers/bin/Debug/net7.0/Events_Observers.pdb
Events_Observers/bin/Debug/net7.0/Events_Observers.dll
Events_Observers/bin/Debug/net7.0/Events_Observers
Events_Observers/Events_Observers.sln
Events_Observers/obj/Debug/net7.0/apphost
Events_Observers/obj/project.nuget.cache
.DS_Store
FirstUnitTesting/FirstUnitTesting.sln
FirstUnitTesting/bin/Debug/net7.0/FirstUnitTesting
FirstUnitTesting/bin/Debug/net7.0/FirstUnitTesting.dll
FirstUnitTesting/bin/Debug/net7.0/FirstUnitTesting.pdb
FirstUnitTesting/obj/project.nuget.cache
FirstUnitTesting/obj/Debug/net7.0/apphost
FirstUnitTesting/obj/Debug/net7.0/FirstUnitTesting.AssemblyInfoInputs.cache
FirstUnitTesting/obj/Debug/net7.0/FirstUnitTesting.assets.cache
FirstUnitTesting/obj/Debug/net7.0/FirstUnitTesting.csproj.AssemblyReference.cache
FirstUnitTesting/obj/Debug/net7.0/FirstUnitTesting.csproj.CoreCompileInputs.cache
FirstUnitTesting/obj/Debug/net7.0/FirstUnitTesting.csproj.FileListAbsolute.txt
FirstUnitTesting/obj/Debug/net7.0/FirstUnitTesting.dll
FirstUnitTesting/obj/Debug/net7.0/FirstUnitTesting.genruntimeconfig.cache
FirstUnitTesting/obj/Debug/net7.0/FirstUnitTesting.pdb
FirstUnitTesting/obj/Debug/net7.0/ref/FirstUnitTesting.dll
FirstUnitTesting/obj/Debug/net7.0/refint/FirstUnitTesting.dll
FirstUnitTestingTests/bin/Debug/net7.0/FirstUnitTesting
FirstUnitTestingTests/bin/Debug/net7.0/FirstUnitTesting.dll
FirstUnitTestingTests/bin/Debug/net7.0/FirstUnitTesting.pdb
FirstUnitTestingTests/bin/Debug/net7.0/FirstUnitTestingTests.dll
FirstUnitTestingTests/bin/Debug/net7.0/FirstUnitTestingTests.pdb
FirstUnitTestingTests/bin/Debug/net7.0/Microsoft.TestPlatform.CommunicationUtilities.dll
FirstUnitTestingTests/bin/Debug/net7.0/Microsoft.TestPlatform.CoreUtilities.dll
FirstUnitTestingTests/bin/Debug/net7.0/Microsoft.TestPlatform.CrossPlatEngine.dll
FirstUnitTestingTests/bin/Debug/net7.0/Microsoft.TestPlatform.PlatformAbstractions.dll
FirstUnitTestingTests/bin/Debug/net7.0/Microsoft.TestPlatform.Utilities.dll
FirstUnitTestingTests/bin/Debug/net7.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
FirstUnitTestingTests/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.Common.dll
FirstUnitTestingTests/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
FirstUnitTestingTests/bin/Debug/net7.0/Newtonsoft.Json.dll
FirstUnitTestingTests/bin/Debug/net7.0/NuGet.Frameworks.dll
FirstUnitTestingTests/bin/Debug/net7.0/nunit_random_seed.tmp
FirstUnitTestingTests/bin/Debug/net7.0/nunit.engine.api.dll
FirstUnitTestingTests/bin/Debug/net7.0/nunit.engine.core.dll
FirstUnitTestingTests/bin/Debug/net7.0/nunit.engine.dll
FirstUnitTestingTests/bin/Debug/net7.0/nunit.framework.dll
FirstUnitTestingTests/bin/Debug/net7.0/NUnit3.TestAdapter.dll
FirstUnitTestingTests/bin/Debug/net7.0/NUnit3.TestAdapter.pdb
FirstUnitTestingTests/bin/Debug/net7.0/testcentric.engine.metadata.dll
FirstUnitTestingTests/bin/Debug/net7.0/testhost.dll
FirstUnitTestingTests/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FirstUnitTestingTests/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FirstUnitTestingTests/obj/project.nuget.cache
FirstUnitTestingTests/obj/Debug/net7.0/FirstUnitTestingTests.AssemblyInfoInputs.cache
FirstUnitTestingTests/obj/Debug/net7.0/FirstUnitTestingTests.assets.cache
FirstUnitTestingTests/obj/Debug/net7.0/FirstUnitTestingTests.csproj.AssemblyReference.cache
FirstUnitTestingTests/obj/Debug/net7.0/FirstUnitTestingTests.csproj.CopyComplete
FirstUnitTestingTests/obj/Debug/net7.0/FirstUnitTestingTests.csproj.CoreCompileInputs.cache
FirstUnitTestingTests/obj/Debug/net7.0/FirstUnitTestingTests.csproj.FileListAbsolute.txt
FirstUnitTestingTests/obj/Debug/net7.0/FirstUnitTestingTests.dll
FirstUnitTestingTests/obj/Debug/net7.0/FirstUnitTestingTests.GeneratedMSBuildEditorConfig.editorconfig
FirstUnitTestingTests/obj/Debug/net7.0/FirstUnitTestingTests.genruntimeconfig.cache
FirstUnitTestingTests/obj/Debug/net7.0/FirstUnitTestingTests.pdb
FirstUnitTestingTests/obj/Debug/net7.0/ref/FirstUnitTestingTests.dll
FirstUnitTestingTests/obj/Debug/net7.0/refint/FirstUnitTestingTests.dll
FirstUnitTesting/.vs/FirstUnitTesting/xs/project-cache/FirstUnitTesting-Debug.json
FirstUnitTesting/.vs/FirstUnitTesting/xs/project-cache/FirstUnitTestingTests-Debug.json
FirstUnitTesting/bin/Debug/net7.0/FirstUnitTesting.deps.json
FirstUnitTesting/bin/Debug/net7.0/FirstUnitTesting.runtimeconfig.json
FirstUnitTesting/obj/FirstUnitTesting.csproj.nuget.dgspec.json
FirstUnitTesting/obj/project.assets.json
FirstUnitTestingTests/bin/Debug/net7.0/FirstUnitTesting.deps.json
FirstUnitTestingTests/bin/Debug/net7.0/FirstUnitTesting.runtimeconfig.json
FirstUnitTestingTests/bin/Debug/net7.0/FirstUnitTestingTests.deps.json
FirstUnitTestingTests/bin/Debug/net7.0/FirstUnitTestingTests.runtimeconfig.json
FirstUnitTestingTests/obj/FirstUnitTestingTests.csproj.nuget.dgspec.json
FirstUnitTestingTests/obj/project.assets.json
FibonacciGenerator/FibonacciGenerator.sln
FibonacciGenerator/.vs/FibonacciGenerator/xs/project-cache/FibonacciGenerator-Debug.json
FibonacciGenerator/.vs/FibonacciGenerator/xs/project-cache/FibonacciGeneratorTests-Debug.json
FibonacciGenerator/obj/FibonacciGenerator.csproj.nuget.dgspec.json
FibonacciGenerator/obj/project.assets.json
FibonacciGenerator/obj/project.nuget.cache
FibonacciGenerator/obj/Debug/net7.0/FibonacciGenerator.AssemblyInfoInputs.cache
FibonacciGenerator/obj/Debug/net7.0/FibonacciGenerator.assets.cache
FibonacciGenerator/obj/Debug/net7.0/FibonacciGenerator.csproj.AssemblyReference.cache
FibonacciGenerator/obj/Debug/net7.0/FibonacciGenerator.GeneratedMSBuildEditorConfig.editorconfig
FibonacciGeneratorTests/obj/FibonacciGeneratorTests.csproj.nuget.dgspec.json
FibonacciGeneratorTests/obj/project.assets.json
FibonacciGeneratorTests/obj/project.nuget.cache
FibonacciGeneratorTests/obj/Debug/net7.0/FibonacciGeneratorTests.AssemblyInfoInputs.cache
FibonacciGeneratorTests/obj/Debug/net7.0/FibonacciGeneratorTests.assets.cache
FibonacciGeneratorTests/obj/Debug/net7.0/FibonacciGeneratorTests.csproj.AssemblyReference.cache
FibonacciGeneratorTests/obj/Debug/net7.0/FibonacciGeneratorTests.GeneratedMSBuildEditorConfig.editorconfig
FibonacciGenerator/bin/Debug/net7.0/FibonacciGenerator
FibonacciGenerator/bin/Debug/net7.0/FibonacciGenerator.deps.json
FibonacciGenerator/bin/Debug/net7.0/FibonacciGenerator.dll
FibonacciGenerator/bin/Debug/net7.0/FibonacciGenerator.pdb
FibonacciGenerator/bin/Debug/net7.0/FibonacciGenerator.runtimeconfig.json
FibonacciGenerator/obj/Debug/net7.0/apphost
FibonacciGenerator/obj/Debug/net7.0/FibonacciGenerator.csproj.CoreCompileInputs.cache
FibonacciGenerator/obj/Debug/net7.0/FibonacciGenerator.csproj.FileListAbsolute.txt
FibonacciGenerator/obj/Debug/net7.0/FibonacciGenerator.dll
FibonacciGenerator/obj/Debug/net7.0/FibonacciGenerator.genruntimeconfig.cache
FibonacciGenerator/obj/Debug/net7.0/FibonacciGenerator.pdb
FibonacciGenerator/obj/Debug/net7.0/ref/FibonacciGenerator.dll
FibonacciGenerator/obj/Debug/net7.0/refint/FibonacciGenerator.dll
FibonacciGeneratorTests/Class1.cs
FibonacciGeneratorTests/bin/Debug/net7.0/FibonacciGenerator
FibonacciGeneratorTests/bin/Debug/net7.0/FibonacciGenerator.deps.json
FibonacciGeneratorTests/bin/Debug/net7.0/FibonacciGenerator.dll
FibonacciGeneratorTests/bin/Debug/net7.0/FibonacciGenerator.pdb
FibonacciGeneratorTests/bin/Debug/net7.0/FibonacciGenerator.runtimeconfig.json
FibonacciGeneratorTests/bin/Debug/net7.0/FibonacciGeneratorTests.deps.json
FibonacciGeneratorTests/bin/Debug/net7.0/FibonacciGeneratorTests.dll
FibonacciGeneratorTests/bin/Debug/net7.0/FibonacciGeneratorTests.pdb
FibonacciGeneratorTests/bin/Debug/net7.0/FibonacciGeneratorTests.runtimeconfig.json
FibonacciGeneratorTests/bin/Debug/net7.0/Microsoft.TestPlatform.CommunicationUtilities.dll
FibonacciGeneratorTests/bin/Debug/net7.0/Microsoft.TestPlatform.CoreUtilities.dll
FibonacciGeneratorTests/bin/Debug/net7.0/Microsoft.TestPlatform.CrossPlatEngine.dll
FibonacciGeneratorTests/bin/Debug/net7.0/Microsoft.TestPlatform.PlatformAbstractions.dll
FibonacciGeneratorTests/bin/Debug/net7.0/Microsoft.TestPlatform.Utilities.dll
FibonacciGeneratorTests/bin/Debug/net7.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
FibonacciGeneratorTests/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.Common.dll
FibonacciGeneratorTests/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
FibonacciGeneratorTests/bin/Debug/net7.0/Newtonsoft.Json.dll
FibonacciGeneratorTests/bin/Debug/net7.0/NuGet.Frameworks.dll
FibonacciGeneratorTests/bin/Debug/net7.0/nunit_random_seed.tmp
FibonacciGeneratorTests/bin/Debug/net7.0/nunit.engine.api.dll
FibonacciGeneratorTests/bin/Debug/net7.0/nunit.engine.core.dll
FibonacciGeneratorTests/bin/Debug/net7.0/nunit.engine.dll
FibonacciGeneratorTests/bin/Debug/net7.0/nunit.framework.dll
FibonacciGeneratorTests/bin/Debug/net7.0/NUnit3.TestAdapter.dll
FibonacciGeneratorTests/bin/Debug/net7.0/NUnit3.TestAdapter.pdb
FibonacciGeneratorTests/bin/Debug/net7.0/testcentric.engine.metadata.dll
FibonacciGeneratorTests/bin/Debug/net7.0/testhost.dll
FibonacciGeneratorTests/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
FibonacciGeneratorTests/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
FibonacciGeneratorTests/obj/Debug/net7.0/FibonacciGeneratorTests.csproj.CopyComplete
FibonacciGeneratorTests/obj/Debug/net7.0/FibonacciGeneratorTests.csproj.CoreCompileInputs.cache
FibonacciGeneratorTests/obj/Debug/net7.0/FibonacciGeneratorTests.csproj.FileListAbsolute.txt
FibonacciGeneratorTests/obj/Debug/net7.0/FibonacciGeneratorTests.dll
FibonacciGeneratorTests/obj/Debug/net7.0/FibonacciGeneratorTests.genruntimeconfig.cache
FibonacciGeneratorTests/obj/Debug/net7.0/FibonacciGeneratorTests.pdb
FibonacciGeneratorTests/obj/Debug/net7.0/ref/FibonacciGeneratorTests.dll
FibonacciGeneratorTests/obj/Debug/net7.0/refint/FibonacciGeneratorTests.dll
UnitTestPractice/UnitTestPractice.sln
UnitTestPractice/.vs/UnitTestPractice/xs/project-cache/UnitTestPractice-Debug.json
UnitTestPractice/obj/project.assets.json
UnitTestPractice/obj/project.nuget.cache
UnitTestPractice/obj/UnitTestPractice.csproj.nuget.dgspec.json
UnitTestPractice/obj/Debug/net7.0/UnitTestPractice.AssemblyInfoInputs.cache
UnitTestPractice/obj/Debug/net7.0/UnitTestPractice.assets.cache
UnitTestPractice/obj/Debug/net7.0/UnitTestPractice.csproj.AssemblyReference.cache
