Calculator/obj/project.nuget.cache
CookieCookbook/obj/project.nuget.cache
Calculator/obj/project.nuget.cache
Calculator/obj/Debug/net7.0/apphost
Calculator/obj/Debug/net7.0/Calculator.csproj.AssemblyReference.cache
CookieCookbook/obj/project.nuget.cache
CookieCookbook/obj/Debug/net7.0/apphost
CookieCookbook/obj/Debug/net7.0/CookieCookbook.csproj.AssemblyReference.cache
CookieCookbookWithLinq/obj/project.nuget.cache
CookieCookbookWithLinq/obj/Debug/net7.0/apphost
CookieCookbookWithLinq/obj/Debug/net7.0/CookieCookbookWithLinq.csproj.AssemblyReference.cache
CsvDataAccess/obj/project.nuget.cache
CsvDataAccess/obj/Debug/net7.0/CsvDataAccess.csproj.AssemblyReference.cache
CustomCache/obj/project.nuget.cache
CustomCache/obj/Debug/net7.0/apphost
CustomCache/obj/Debug/net7.0/CustomCache.csproj.AssemblyReference.cache
CustomLinkedList/obj/project.nuget.cache
CustomLinkedList/obj/Debug/net7.0/CustomLinkedList.csproj.AssemblyReference.cache
DiceRollGame/obj/project.nuget.cache
DiceRollGame/obj/Debug/net7.0/apphost
DiceRollGame/obj/Debug/net7.0/DiceRollGame.csproj.AssemblyReference.cache
FirstClass/obj/project.nuget.cache
FirstClass/obj/Debug/net7.0/apphost
FirstClass/obj/Debug/net7.0/FirstClass.csproj.AssemblyReference.cache
GameDataParser/obj/project.nuget.cache
GameDataParser/obj/Debug/net7.0/apphost
GameDataParser/obj/Debug/net7.0/GameDataParser.csproj.AssemblyReference.cache
StarWarsPlanetsStats/obj/project.nuget.cache
StarWarsPlanetsStats/obj/Debug/net7.0/StarWarsPlanetsStats.csproj.AssemblyReference.cache
Tester/obj/project.nuget.cache
Tester/obj/Debug/net7.0/apphost
Tester/obj/Debug/net7.0/Tester.csproj.AssemblyReference.cache
ToDoList/ToDoList/obj/project.nuget.cache
ToDoList/ToDoList/obj/Debug/net7.0/apphost
ToDoList/ToDoList/obj/Debug/net7.0/ToDoList.csproj.AssemblyReference.cache
