Calculator/obj/project.nuget.cache
CookieCookbook/obj/project.nuget.cache
Calculator/obj/project.nuget.cache
Calculator/obj/Debug/net7.0/apphost
Calculator/obj/Debug/net7.0/Calculator.csproj.AssemblyReference.cache
CookieCookbook/obj/project.nuget.cache
CookieCookbook/obj/Debug/net7.0/apphost
CookieCookbook/obj/Debug/net7.0/CookieCookbook.csproj.AssemblyReference.cache
CookieCookbookWithLinq/obj/project.nuget.cache
CookieCookbookWithLinq/obj/Debug/net7.0/apphost
CookieCookbookWithLinq/obj/Debug/net7.0/CookieCookbookWithLinq.csproj.AssemblyReference.cache
CsvDataAccess/obj/project.nuget.cache
CsvDataAccess/obj/Debug/net7.0/CsvDataAccess.csproj.AssemblyReference.cache
CustomCache/obj/project.nuget.cache
CustomCache/obj/Debug/net7.0/apphost
CustomCache/obj/Debug/net7.0/CustomCache.csproj.AssemblyReference.cache
CustomLinkedList/obj/project.nuget.cache
CustomLinkedList/obj/Debug/net7.0/CustomLinkedList.csproj.AssemblyReference.cache
DiceRollGame/obj/project.nuget.cache
DiceRollGame/obj/Debug/net7.0/apphost
DiceRollGame/obj/Debug/net7.0/DiceRollGame.csproj.AssemblyReference.cache
FirstClass/obj/project.nuget.cache
FirstClass/obj/Debug/net7.0/apphost
FirstClass/obj/Debug/net7.0/FirstClass.csproj.AssemblyReference.cache
GameDataParser/obj/project.nuget.cache
GameDataParser/obj/Debug/net7.0/apphost
GameDataParser/obj/Debug/net7.0/GameDataParser.csproj.AssemblyReference.cache
StarWarsPlanetsStats/obj/project.nuget.cache
StarWarsPlanetsStats/obj/Debug/net7.0/StarWarsPlanetsStats.csproj.AssemblyReference.cache
Tester/obj/project.nuget.cache
Tester/obj/Debug/net7.0/apphost
Tester/obj/Debug/net7.0/Tester.csproj.AssemblyReference.cache
ToDoList/ToDoList/obj/project.nuget.cache
ToDoList/ToDoList/obj/Debug/net7.0/apphost
ToDoList/ToDoList/obj/Debug/net7.0/ToDoList.csproj.AssemblyReference.cache
TicketsDataAggregator/.vs/TicketsDataAggregator/xs/project-cache/TicketsDataAggregator-Debug.json
TicketsDataAggregator/obj/project.assets.json
TicketsDataAggregator/obj/project.nuget.cache
TicketsDataAggregator/obj/TicketsDataAggregator.csproj.nuget.dgspec.json
TicketsDataAggregator/obj/Debug/net7.0/TicketsDataAggregator.csproj.AssemblyReference.cache
.DS_Store
.gitignore
Calculator/.DS_Store
Calculator/bin/.DS_Store
Calculator/bin/Debug/.DS_Store
Calculator/obj/.DS_Store
Calculator/obj/Debug/.DS_Store
CookieCookbook/.DS_Store
CookieCookbook/bin/.DS_Store
CookieCookbook/bin/Debug/.DS_Store
CookieCookbookWithLinq/.DS_Store
CookieCookbookWithLinq/bin/.DS_Store
CookieCookbookWithLinq/bin/Debug/.DS_Store
CsvDataAccess/.DS_Store
CustomCache/.DS_Store
CustomCache/bin/.DS_Store
CustomCache/bin/Debug/.DS_Store
CustomLinkedList/.DS_Store
CustomLinkedList/bin/.DS_Store
CustomLinkedList/bin/Debug/.DS_Store
DiceRollGame/.DS_Store
DiceRollGame/bin/.DS_Store
DiceRollGame/bin/Debug/.DS_Store
FirstClass/.DS_Store
FirstClass/bin/.DS_Store
FirstClass/bin/Debug/.DS_Store
GameDataParser/.DS_Store
GameDataParser/bin/.DS_Store
GameDataParser/bin/Debug/.DS_Store
StarWarsPlanetsStats/.DS_Store
StarWarsPlanetsStats/bin/.DS_Store
StarWarsPlanetsStats/bin/Debug/.DS_Store
Tester/.DS_Store
Tester/bin/.DS_Store
Tester/bin/Debug/.DS_Store
TicketsDataAggregator/.DS_Store
TicketsDataAggregator/.vs/TicketsDataAggregator/xs/project-cache/TicketsDataAggregator-Debug.json
TicketsDataAggregator/bin/.DS_Store
TicketsDataAggregator/bin/Debug/.DS_Store
TicketsDataAggregator/obj/project.assets.json
TicketsDataAggregator/obj/project.nuget.cache
TicketsDataAggregator/obj/TicketsDataAggregator.csproj.nuget.dgspec.json
TicketsDataAggregator/obj/Debug/net7.0/TicketsDataAggregator.csproj.AssemblyReference.cache
ToDoList/.DS_Store
ToDoList/ToDoList/.DS_Store
ToDoList/ToDoList/bin/.DS_Store
ToDoList/ToDoList/bin/Debug/.DS_Store
.DS_Store
.gitignore
CsvDataAccess/.DS_Store
TicketsDataAggregator/.DS_Store
TicketsDataAggregator/.vs/TicketsDataAggregator/xs/project-cache/TicketsDataAggregator-Debug.json
TicketsDataAggregator/bin/.DS_Store
TicketsDataAggregator/bin/Debug/.DS_Store
TicketsDataAggregator/obj/project.assets.json
TicketsDataAggregator/obj/project.nuget.cache
TicketsDataAggregator/obj/TicketsDataAggregator.csproj.nuget.dgspec.json
TicketsDataAggregator/obj/Debug/net7.0/TicketsDataAggregator.csproj.AssemblyReference.cache
ToDoList/.DS_Store
.DS_Store
TicketsDataAggregator/bin/Debug/net7.0/TicketsDataAggregator
TicketsDataAggregator/bin/Debug/net7.0/TicketsDataAggregator.dll
TicketsDataAggregator/bin/Debug/net7.0/TicketsDataAggregator.pdb
TicketsDataAggregator/obj/Debug/net7.0/apphost
TicketsDataAggregator/obj/Debug/net7.0/TicketsDataAggregator.csproj.CoreCompileInputs.cache
TicketsDataAggregator/obj/Debug/net7.0/TicketsDataAggregator.dll
TicketsDataAggregator/obj/Debug/net7.0/TicketsDataAggregator.pdb
TicketsDataAggregator/obj/Debug/net7.0/ref/TicketsDataAggregator.dll
TicketsDataAggregator/obj/Debug/net7.0/refint/TicketsDataAggregator.dll
TicketsDataAggregator/.vs/TicketsDataAggregator/xs/project-cache/TicketsDataAggregator-Debug.json
Events_Observers/obj/Debug/net7.0/Events_Observers.AssemblyInfoInputs.cache
Events_Observers/obj/Debug/net7.0/Events_Observers.assets.cache
Events_Observers/obj/Debug/net7.0/Events_Observers.csproj.AssemblyReference.cache
Events_Observers/obj/Debug/net7.0/Events_Observers.csproj.CoreCompileInputs.cache
Events_Observers/obj/Debug/net7.0/Events_Observers.csproj.FileListAbsolute.txt
Events_Observers/obj/Debug/net7.0/Events_Observers.dll
Events_Observers/obj/Debug/net7.0/Events_Observers.GeneratedMSBuildEditorConfig.editorconfig
Events_Observers/obj/Debug/net7.0/Events_Observers.genruntimeconfig.cache
Events_Observers/obj/Debug/net7.0/Events_Observers.pdb
Events_Observers/obj/Debug/net7.0/ref/Events_Observers.dll
Events_Observers/obj/Debug/net7.0/refint/Events_Observers.dll
Events_Observers/bin/Debug/net7.0/Events_Observers.pdb
Events_Observers/bin/Debug/net7.0/Events_Observers.dll
Events_Observers/bin/Debug/net7.0/Events_Observers
Events_Observers/Events_Observers.sln
Events_Observers/obj/Debug/net7.0/apphost
Events_Observers/obj/project.nuget.cache
.DS_Store
